

body{
    padding : 0;
    margin : 0;
    font-family : Arial;
}



/*
The top section: contains tools and stuff
*/

#TopDiv{
    background-color : #eeeeee;
    width : 100%;
    position : fixed;
    top : 0;
    left : 0;
}

#TopS1{
    width : 100%;
    height : 22px;
    display:inline-block;
}

#AddressBar{
    height : 16px;
    margin:0px;
    padding : 0px;
    margin-left : 5px;
    margin-top : 2px;
    border-radius : 2px;
    border : 1px solid grey;
    padding-left : 8px;
    width : 85%;
    font-family : Arial;
    font-size : 12px;
}

#OtherTools{
    font-family:Arial;
    width : 95%;
    padding-top : 5px;
    padding-bottom : 5px;
    padding-left : 25px;
    display:inline-block;
}

.TopIcons{
    width : 20px;
    height : 20px;
    padding : 4px;
    border : 1px solid black;
}

.TopMessages{
    font-family : Arial;
    float : left;
    height : 20px;
    padding : 4px;
}

#NotesToggleImg{
    float : right;
    height : 16px;
    width : 16px;
    margin : 0;
    padding : 0;
    margin-left : 2px;
    margin-top : 2px;
    float : right;
}



#BackArrow{
    width : 16px;
    height : 16px;
    margin : 0;
    padding : 0;
    margin-left : 2px;
    margin-top : 2px;
    float : left;
}

/*Mobile Versions*/

@media screen and (max-width: 600px) {
    
    #BackArrow{
        width : 30px;
        height : 30px;
        padding : 10px;
    }
    #NotesToggleImg{
        width : 30px;
        height : 30px;
        padding : 10px;
    }
    #AddressBar{
        height : 30px;
        width : 65%;
        margin-top : 10px;
        font-size : 20px;
    }
    
    .TopMessages{
        height : 30px;
        padding : 5px;
        font-size : 30px;
    }
    
    .TopIcons{
        height : 30px;
        width : 30px;
        padding : 5px;
    }
}


/*
end top section
*/


/*File Viewer section*/

#FileSystemContainer{
    width : 100%;
    display : inline-block;
    margin-top : 60px;
}


.selectionIcon{
    border : 1px solid black;
    width : 20%; height : 20%;
    margin-left : 40%;
    
}

.moreSelectedStyle{
    border : 1px solid blue;
}

.fileIconOuter{
    width : 100px;
    height : 110px;
    margin : 10px;
    float : left;
    border : 1px solid white;
}


@media screen and (max-width: 600px) {
    #FileSystemContainer{ margin-top : 90px;}
    .fileIconOuter{
        width : 100px;
        height : 110px;
        margin : 5px;
    }
}

.fileIconIcon{
    width : 50%;
    margin-left : 25%;
    height : auto;
}

.fileIconName{
    text-align: center;
    font-size : 14px;
    margin-bottom : 5px;
}

/*end' File Viewer section*/
