@font-face {
    font-family: Messy;
    src: url(/css/Snake.ttf);
}

body{
    padding : 0;
    margin : 0;
    font-family : Messy;
}


#FileSystemContainer{
    width : 100vw;
    height : 100vh;
}

#FSTools{
    width : 100vw;
    height : 60px;
    border-bottom : 1px solid black;
}

#AddressBar{
    width : 96%;
    float : left;
    font-family : Messy;
    height : 18px;
    padding:0;
    margin:0;
}

#upDirectoryArrow{
    width : 20px;
    height : 20px;
    float : left;
    cursor : pointer;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
}

#FSToolBoxDiv{
    width : 100%;
    height : 50px;
}

.toolIcons{
    width : 39px;
    float : left;
    margin-right : 2px;
}

#NotesContainer{
    width : 400px;
    height : 100%;
    float : left;
    background-color : chartreuse;
}

#View{
    width 100%;
    height : 400px;
    overflow-y : scroll;
}

/*
    file viewer
*/
.fileIconOuter{
    width : 80px;
    height : 60px;
    margin : 1px;
    float : left;
    cursor : pointer;
}

.fileIconIcon{
    height : 30px;
    margin-left : 25px;
    padding : 0;
    margin-bottom : 0;
}

.fileIconName{
    text-align:center;
    width : 100%;
    font-size : 20px;
    margin-top : 0;
}