@font-face {
    font-family: Messy;
    src: url(/css/Snake.ttf);
}

body{
    padding : 0;
    margin : 0;
    font-family : Messy;
}

#TopContainer{
    width : 1200px;
    height : 500px;
    margin-left : auto;
    margin-right : auto;
}

#FileSystemContainer{
    width : 800px;
    height : 100%;
    float : left;
}

#FSTools{
    width : 100%;
    height : 10%;
}

#AddressBar{
    width : 96%;
    float : left;
    font-family : Messy;
}

#upDirectoryArrow{
    width : 3%;
    height : auto;
    float : left;
    cursor : pointer;
}

#FSToolBoxDiv{
    width : 100%;
    height : 50px;
}

.toolIcons{
    width : 25px;
}

#NotesContainer{
    width : 400px;
    height : 100%;
    float : left;
    background-color : chartreuse;
}

#View{
    width 100%;
    height : 400px;
    overflow-y : scroll;
}

/*
    file viewer
*/
.fileIconOuter{
    width : 80px;
    height : 60px;
    margin : 1px;
    float : left;
    cursor : pointer;
}

.fileIconIcon{
    height : 30px;
    margin-left : 25px;
    padding : 0;
    margin-bottom : 0;
}

.fileIconName{
    text-align:center;
    width : 100%;
    font-size : 20px;
    margin-top : 0;
}