<!DOCTYPE html>
<html ng-app="IndexApp" ng-controller="IndexAppController">
    <head>
        <script src="js/angular.js"></script>
        <script src="js/LLocal.js"></script>
        <script src="js/BackgroundTab.js"></script>
        <script src="js/index.js"></script>
        <link type="text/css" rel="stylesheet" href="css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div id="TopDiv">
            <div id="TopS1">
                <img ng-click="goUp()" id="BackArrow" src="/img/upArrow.jpg">
                <input id="AddressBar" ng-value="currentDirectory"  type="text">
                <img id="NotesToggleImg" ng-click="displayNotes = !displayNotes" src="/img/squareIcon.png">
            </div>
            <div id="OtherTools">
                <div class="TopMessages">sf: {{selectedList.length}}</div>
                <img class="TopIcons" ng-click="showHiddenFiles=!showHiddenFiles" src="/img/hiddenIcon.png" ng-style="{border:showHiddenFiles?'1px solid blue':'1px solid black'}">
                <img class="TopIcons" ng-click="createNewFile(true)" src="/img/directoryIcon.png">
                <img class="TopIcons" ng-click="createNewFile(false)" src="/img/fileIcon.png">
                <img class="TopIcons" ng-show="selectedList.length > 0" src="/img/trashIcon.png">
                <img class="TopIcons" ng-show="selectedList.length > 0" ng-click="downloadFiles()" src="/img/downloadIcon.png">
                
                
            </div>
        </div>
        
        <!--//functions -->
        <div id="FileSystemContainer">
            <!--//each file  -->
            <div ng-show="file.name[0] != '.' || showHiddenFiles" ng-class="'fileIconOuter'" ng-style="{border:isSelected(file)?'1px solid blue':'1px solid white'}" ng-repeat="file in getFilesForDisplay()">
                <img class="fileIconIcon" ng-click="clickFile(file)" ng-src="{{'/img/' + (file.isDirectory ? 'directoryIcon.png' : 'fileIcon.png')}}">
                <div class="fileIconName">
                    {{filterFileName(file)}} 
                </div>
                <div ng-click="selectFile(file)" ng-class="'selectionIcon'" ng-style="{'background-color':isSelected(file)?'black':'none'}"></div>
            </div>
        </div>
        <div ng-show="displayNotes" id="NotesContainer">
            Notes
        </div>
        
        
        
        
    </body>
</html>