<!DOCTYPE html>
<html ng-app="IndexApp" ng-controller="IndexAppController">
    <head>
        <script src="js/angular.js"></script>
        <script src="js/LLocal.js"></script>
        <script src="js/index.js"></script>
        <link type="text/css" rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <div id="TopContainer">
            <!--//functions-->
            <div id="FileSystemContainer">
                <div id="FSTools">
                    <img id="upDirectoryArrow" ng-click="goUp()" src="/img/upArrow.jpg">
                    <input id="AddressBar" ng-value="currentDirectory"  type="text">
                    <div id="FSToolBoxDiv">
                        <img class="toolIcons" src="/img/trashIcon.png">
                        <img class="toolIcons" src="/img/downloadIcon.png">
                    </div>
                </div>
                <!--//view -->
                <div id="View">
                    <div ng-show="file.name[0] != '.'" class="fileIconOuter" ng-repeat="file in currentFiles" ng-dblclick="clickFile(file)">
                        <img class="fileIconIcon" ng-src="{{'/img/' + (file.isDirectory ? 'directoryIcon.png' : 'fileIcon.png')}}">
                        <div class="fileIconName">
                            {{file.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="NotesContainer">
                Notes
            </div>
        </div>
    </body>
</html>